table
{
    position: relative;
    top:300px;
}
.div1
{
    background-color: #DD3377;
}
.div2
{
    background-color: #DD3377;
}
.div3
{
    background-color: #DD3377;
}
.dd a
{
    text-decoration: none;
    color: blue;
    position: relative;
    left:973px;
    top:20px;
}