.doupiao
{
    width: 341px;
    height: 171px;
    border: 1px solid red;
    background-color: #F699C3;
    margin: 200px auto;

}
.gp
{
    font-size: 45px;
    text-align: center;
    line-height: 163px;
}